/.gradle/
/src/main/resources/buildnumber.properties
/build/
/base.properties
/converter.properties
/daemon.properties
/client.properties
/MultilanguageSupportUsers.properties
/data/Log/
/.idea/
/docs/

/base.properties
/converter.properties
/crusingspeed.properties
*.bak
